
.pl-card {
    user-select: none;
    width: 290px;
    height: 27px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    background-color: white;
}

.pl-name {
    font-weight: 500;
    min-width: 140px;
}

.spacer {
    flex-grow: 10;
}

.pl-score {
    margin-right: 5px;
}

.tag {
    height: 25px;
    line-height: 25px;
    width: 40px;
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
    color: white;
    margin: 0 3px;
}

.ap3-tag {
    background-color: rgb(20, 93, 250);
    width: 40px;
}

.member-tag {
    background-color: rgb(106, 5, 201);
    width: 20px;
}

.alumni-tag {
    background-color: rgb(241, 97, 0);
    width: 20px;
}

.paid-tag {
    background-color:  rgb(61, 173, 9);
    width: 20px;
}

.not-paid-tag {
    background-color: rgb(255, 0, 0);
    width: 20px;
}