.roundcolumn {
    width: 270px;
    height: 100%;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    display: block;
}


.roundcolumn-title {
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
    width: 250px;
    text-align: center;
}